{{define "block"}}
    <section>
        <div>
            <ul>
                <li>{{.Data}}</li>
                <li>{{.Hash}}</li>
                {{if .PrevHash}}
                    <li>{{.PrevHash}}</li>
                {{end}}
                <li>{{.Height}}</li>
            </li>
        </ul>
    </div>
</section>
{{end}}